* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

main h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
}

.wrapper {
    width: 70%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: black;
    border-radius: 1.5rem;
}

.wrapper h3 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.container {
    /* width: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Key {
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.8rem;
    font-family: Arial, sans-serif;
    padding-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s, transform 0.1s;
}

.Key.active {
  transform: scale(0.98);
}

.white {
    width: 6rem;
    height: 300px;
    background: white;
    z-index: 0;
}

.white:active {
    background: #e0e0e0;
    /* transform: translateY(1px); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    /* border: 3px solid black; */
}

.black {
    width: 4rem;
    height: 200px;
    background: black;
    color: white;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -1rem;
    z-index: 1;
}

.black:active {
    background: #313131;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    /* border: 1px solid black; */
}